.screen {
    background-color: #e2dede;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .overlap-group-wrapper {
    background-color: #e2dede;
    height: 262px;
    width: 211px;
  }
  
  .screen .overlap-group {
    height: 239px;
    left: 8px;
    position: relative;
    top: 13px;
    width: 203px;
  }
  
  .screen .image {
    height: 221px;
    left: 10px;
    object-fit: cover;
    position: absolute;
    top: 18px;
    width: 160px;
  }
  
  .screen .img {
    height: 22px;
    left: 69px;
    object-fit: cover;
    position: absolute;
    top: 67px;
    width: 41px;
  }
  
  .screen .the-north-cheker {
    color: #000000;
    font-family: "Rubik Moonrocks-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 203px;
  }
  
  .screen .rectangle {
    height: 28px;
    left: 70px;
    position: absolute;
    top: 204px;
    width: 80px;
  }
  
  .screen .text-wrapper {
    color: #000000;
    font-family: "Rubik Moonrocks-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 79px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 208px;
    white-space: nowrap;
    width: 62px;
  }
  